 .button-icon{
    display: flex;
    flex-direction: row;
    fill: 666px;
    width:24p;
    height:24px;
    transition: fill 0.3s, transform 0.3s;
    cursor:pointer;
}
.button-icon:hover {
fill:#333
}
.button-icon:active{
    transform:scale(0.9);
}