.back-button{
    padding: 4px 12px 4px 12px;
    color:whitesmoke;
    background-color:dodgerblue;
    border:none;
    border-radius:4px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: transform 0.3s;
}

.back-button:hover {
    transform: scale(1.05);
}

.image{
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.movie-Header{
   font-size: 1.25rem;
}

.movie-info-container{
    margin:0% auto;
    width: 400%

}


    
